# Ranking in Survival Analysis Paper Implementation

### This notebook implements the idea in paper "On Ranking in Survival Analysis: Bounds on the Concordance Index"

In [1]:
import numpy as np
import pandas as pd

In [17]:
patient_df = pd.read_csv('./dataset/support.tsv', sep='\t', encoding='utf8')
print(patient_df.head(10))
print(patient_df.shape)
print(patient_df.columns)
print(patient_df['dzgroup'].value_counts())
print(patient_df['death'].head())
patient_df = patient_df.dropna()
print(patient_df.shape)

         age  death     sex  hospdead  slos  d.time            dzgroup  \
0  85.655945      1    male         0    12      63        Lung Cancer
1  42.258972      1  female         0     8     370       Colon Cancer
2  43.539978      0  female         0   115    2022  ARF/MOSF w/Sepsis
3  45.417999      1    male         0     7     827        Lung Cancer
4  63.662994      1  female         1    14      14  ARF/MOSF w/Sepsis
5  41.521973      1    male         1    21      21       MOSF w/Malig
6  60.100983      1    male         0    15     195          Cirrhosis
7  41.959991      1    male         0     4     503        Lung Cancer
8  31.701996      0  female         0    49    1973          Cirrhosis
9  72.171997      1    male         1    12      12        Lung Cancer

              dzclass  num.co   edu    ...         crea  sod        ph  \
0              Cancer       2  12.0    ...     1.000000  143  7.449219
1              Cancer       0  11.0    ...     0.799927  139       NaN
2            ARF/MOSF       1   NaN    ...     0.599976  134  7.399414
3              Cancer       2   NaN    ...     1.099854  137  7.489258
4            ARF/MOSF       0  22.0    ...     2.899902  130  7.449219
5            ARF/MOSF       2  18.0    ...     7.299805  134  7.359375
6  COPD/CHF/Cirrhosis       1   NaN    ...     1.000000  142  7.439453
7              Cancer       1  16.0    ...     1.099854  133  7.479492
8  COPD/CHF/Cirrhosis       0  14.0    ...     1.399902  127  7.489258
9              Cancer       1   NaN    ...     1.099854  135  7.559570

   glucose  bun  urine adlp  adls                sfdm2     adlsc
0      NaN  NaN    NaN  NaN   7.0                  NaN  7.000000
1      NaN  NaN    NaN  0.0   NaN                  NaN  0.494800
2      NaN  NaN    NaN  NaN   NaN              SIP>=30  2.764160
3      NaN  NaN    NaN  NaN   NaN                  NaN  3.351562
4      NaN  NaN    NaN  NaN   0.0     <2 mo. follow-up  0.000000
5      NaN  NaN    NaN  NaN   0.0     <2 mo. follow-up  0.000000
6      NaN  NaN    NaN  NaN   NaN                  NaN  2.381348
7      NaN  NaN    NaN  NaN   NaN  no(M2 and SIP pres)  2.179688
8      NaN  NaN    NaN  6.0   1.0              SIP>=30  1.000000
9      NaN  NaN    NaN  NaN   0.0     <2 mo. follow-up  0.000000

[10 rows x 35 columns]
(1000, 35)
Index(['age', 'death', 'sex', 'hospdead', 'slos', 'd.time', 'dzgroup',
       'dzclass', 'num.co', 'edu', 'income', 'scoma', 'charges', 'totcst',
       'totmcst', 'avtisst', 'race', 'meanbp', 'wblc', 'hrt', 'resp', 'temp',
       'pafi', 'alb', 'bili', 'crea', 'sod', 'ph', 'glucose', 'bun', 'urine',
       'adlp', 'adls', 'sfdm2', 'adlsc'],
      dtype='object')
ARF/MOSF w/Sepsis    391
CHF                  143
COPD                 116
Lung Cancer          100
MOSF w/Malig          86
Coma                  60
Cirrhosis             55
Colon Cancer          49
Name: dzgroup, dtype: int64
0    1
1    1
2    0
3    1
4    1
Name: death, dtype: int64
(32, 35)

In [30]:
from lifelines.datasets import load_regression_dataset
regression_dataset = load_regression_dataset()

print(regression_dataset.head())
print(regression_dataset.columns)
regression_dataset.shape

       var1      var2      var3          T  E
0  0.595170  1.143472  1.571079  14.785652  1
1  0.209325  0.184677  0.356980   7.335846  1
2  0.693919  0.071893  0.557960   5.269797  1
3  0.443804  1.364646  0.374221  11.684092  1
4  1.613324  0.125566  1.921325   7.639492  1
Index(['var1', 'var2', 'var3', 'T', 'E'], dtype='object')

(200, 5)

In [31]:
regression_dataset.insert(0, 'ID', [i for i in range(0, 200)])
regression_dataset.shape
regression_dataset.head()

   ID      var1      var2      var3          T  E
0   0  0.595170  1.143472  1.571079  14.785652  1
1   1  0.209325  0.184677  0.356980   7.335846  1
2   2  0.693919  0.071893  0.557960   5.269797  1
3   3  0.443804  1.364646  0.374221  11.684092  1
4   4  1.613324  0.125566  1.921325   7.639492  1